/data/processed
/data/jsb_chorales/processed/
/data/jsb_chorales/train/
/data/jsb_chorales/test/
/data/jsb_chorales/valid/
/data/valid
/MIDIout/
/C_data/
/logs/
/output/
/training_checkpoints/
/scartch/
/results
/__pycache__
snapshot.metadata